body {
    color:rgba(51, 25, 201, 0.733);
    background:rgba(240, 18, 18, 0.726);
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

}

header{
    border: solid 5px rgba(36, 16, 219, 0.719);
}